{% assign entries = site[include.collection] | where: "lang", page.lang %}


{% if include.sort_by == 'title' %}
  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | sort: 'title' | reverse %}
  {% else %}
    {% assign entries = entries | sort: 'title' %}
  {% endif %}
{% elsif include.sort_by == 'date' %}
  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | sort: 'date' | reverse %}
  {% else %}
    {% assign entries = entries | sort: 'date' %}
  {% endif %}
{% endif %}


{% if include.role == 'Prof' %}  
  {% assign entries = entries | where: "role", 'Prof'  %} 
{% elsif include.role == 'MCF' %}  
  {% assign entries = entries | where: "role", 'MCF'  %}   
{% elsif include.role == 'IR' %}  
  {% assign entries = entries | where: "role", 'IR'  %} 
{% elsif include.role == 'PHD' %}  
  {% assign entries = entries | where: "role", 'PHD'  %}   
{% elsif include.role == 'Admin' %}  
  {% assign entries = entries | where: "role", 'Admin'  %}     
{% endif %}

{% if include.sort_by == "orden" %}
  {% assign entries = entries | sort: 'orden' %}
{% endif %}




{%- for post in entries -%}
  {% include archive-single.html %}
{%- endfor -%}
